
<button onclick='loadData()'>Load Data</button>
<ul>
{{#each this}}
    <li id="{{file}}" class="data-desc">
        <input type="checkbox" value="{{file}}" />
        {{>data_desc}}
    </li>
{{else}}
    got nothing
{{/each}}
</ul>
