<!DOCTYPE html>
<html>
<head>
    <meta name="license" content="http://sigfried.mit-license.org/"/>
    <meta charset="utf-8">
    <title>Demo Data Swap</title>
</head>
<body>

    {{{body}}}
    <script src="bundle.js"></script>
    <script src="demoviz.js"></script>
</body>
</html>
