<a href="viz_list">List visualization demos</a>

{{wholequery}}
<hr/>
{{#if query.viz}}
    Visualization:<br/>
    {{>viz_desc viz}}
{{else}}
    Visualization list:<br/>
    {{>viz_list vizList}}
{{/if}}
<hr/>
<div id="datasets"></div>
<hr/>
<div id="transforms"></div>
